.button,
.button--active {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  box-shadow: 3px 3px 0px 1px;
  outline: none;
  border: 1px solid black;
  padding: 0.25rem 1rem;
}

.button:active,
.button--active:active {
  transform: translateX(3px) translateY(3px);
  box-shadow: 1px 1px 0px 1px;
}

.button--active {
  background-color: var(--button-color);
}
