.gcd-calculator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  align-self: center;
  font-size: 2rem;
}

.gcd-calculator__input {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gcd-calculator__solution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gcd-calculator__solution__line__gcd {
  color: var(--accent-color-2);
}
