.detail{
    align-items: center;
    position: relative;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2.5rem !important;
    padding: 1rem 1rem 4rem 1rem;
}

.detail::after{
    content: " ";
    width: calc(100% - 2rem);
    position: absolute;
    border-top: 2px solid black;
    bottom: 0%;
}

.detail__description, .detail__logo{
    width: 100%;
}
.detail__logo{
    display: flex;
    flex-direction: column;
}
.detail__logo__title{
    font-family: var(--font);
    font-weight: 800;
    text-transform: uppercase;
}

.detail__logo__title__highlight{
    color: var(--accent-color-3);
    text-decoration: none;
    position: relative;
}
.detail__logo__title__highlight::after{
    content: " ";
    position: absolute;
    width: 100%;
    border-top: 3px solid var(--accent-color-3);
    bottom: 0%;
    left: 0%;
    border-radius: 2px;
}

.detail__logo__image{
    margin: 4rem auto;
    width: 50%;
    display: none;
}

.detail__description{
    font-family: 'Nunito';
   
}
.detail__description__meaning{
    position: relative;
}

.detail__description__meaning:not(:last-child):after{
    content: " ";
    width: 100%;
    border-top: 3px solid var(--accent-color-4);
    position: absolute;
    bottom: -1.5rem;
    left: 0%;
    margin-top: 32px;
}

.detail__description__meaning__title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.detail__description__meaning__par{
    margin-bottom: 3rem;
}

@media(min-width: 768px){
    .detail{
        padding: 0 0 4rem 0;
    }
    .details::after{
        width: 100%;
    }
    .detail__logo__image{
        display: inline;
    }
    .detail__logo, .detail__description{
        width: 45%;
    }

}